@use "./../utils/mixins" as mix;
@use "./../utils/variables" as var;

$viewport: var.$color-gray-50;
$viewport-dark: var.$color-black;

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  font-family: var.$base-font-family;
  line-height: normal;
  margin: 0 auto;
  max-width: 480px;
  background-color: $viewport;
  @media (prefers-color-scheme: dark) {
    background-color: $viewport-dark;
  }
}

/* 숨김 콘텐츠 */
.sr-only {
  @include mix.a11yHidden;
}
