@use "./scss/utils" as *;

$text-headline: $forground;

$text-date: $color-gray-400;
$text-date-dark: $color-gray-300;

.doit-app {
  @include flexbox($direction: column, $align: center);
  margin-top: 90px;
  padding: 0 30px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $forground;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 12px;
    font-weight: 600;
    color: $text-date;
    margin-bottom: 27px;
  }

  &-doit-list {
    @include flexbox($direction: column, $gap: 20px);
    width: 100%;
    padding: 10px;
  }

  @media (prefers-color-scheme: dark) {
    &__title {
      color: $forground-dark;
    }
  }
}
