.component {
  margin-top: 38px;
  min-width: 100px;

  ol {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  li {
    list-style-type: decimal-leading-zero;
  }
}
