@use "../../scss/utils" as *;

$divider-color: $color-gray-200;

.divider {
  background-color: $divider-color;

  &--horizental {
    width: 100%;
    height: 1px;
  }
  &--vertical {
    width: 1px;
    height: 100%;
  }
}
